<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "error") %> prohibited this training from being saved:</h2>

      <ul>
      <% @training.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :.idealeader_id %><br>
    <%= f.text_field :.idealeader_id %>
  </div>
  <div class="field">
    <%= f.label :offering_id %><br>
    <%= f.number_field :offering_id %>
  </div>
  <div class="field">
    <%= f.label :register %><br>
    <%= f.text_field :register %>
  </div>
  <div class="field">
    <%= f.label :attended %><br>
    <%= f.text_field :attended %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :payment %><br>
    <%= f.text_field :payment %>
  </div>
  <div class="field">
    <%= f.label :certificate %><br>
    <%= f.text_field :certificate %>
  </div>
  <div class="field">
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
