<p id="notice"><%= notice %></p>

<p>
  <strong>Appleader:</strong>
  <%= @phone.appleader_id %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @phone.phone_number %>
</p>

<p>
  <strong>Which phone:</strong>
  <%= @phone.which_phone %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @phone.comments %>
</p>

<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>
