<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<hr size="4" noshade color="Grey" width="300" align="left">
<div class="actions">
  <%= f.submit %>
</div>
<hr size="3" noshade color="Grey" width="300" align="left">
<table id="table_show_groups" class="display" cellpadding="5" border="1" cellspacing="0" bgcolor="#9370db" frame="box" width="300">
  <thead>
  <tr>
    <th>Data Collection Element</th>
    <th>Answer</th>
  </tr>
  </thead>

  <tbody>

  <tr bgcolor='cccccc'><td><b><%= f.label :id,  		    "DBID"            %></b></td><td>   <b><b><b><%=f.text_field :id                %></td><tr>

  <tr bgcolor="cccccc"><td><b><%= f.label :group_gid,  		"Given Group ID"%></b></td><td>   <b><b><b><%=f.text_field :group_gid          %></td><tr>
  <tr bgcolor="ffffff"><td><b><%= f.label :type_id,         "Group Type ID" %></b></td><td>   <b><b><b><%=f.collection_select(:type_id,      Type.all,       :id,  :name_with_id, :include_blank=>true) %></td><tr>
  <tr bgcolor="ffffff"><td><b><%= f.label :cycle_id,        "Cycle ID"      %></b></td><td>   <b><b><b><%=f.collection_select(:cycle_id,     Cycle.all,      :id,  :name_with_id, :include_blank=>true) %></td><tr>
  <tr bgcolor='cccccc'><td><b><%= f.label :school_id,  		"School ID"     %></b></td><td>   <b><b><b><%=f.collection_select(:school_id,    School.all,     :id,  :name_with_id, :include_blank=>true) %></td><tr>
  <tr bgcolor="ffffff"><td><b><%= f.label :meridian_id,		"AM-PM"         %></b></td><td>   <b><b><b><%=f.collection_select(:meridian_id , Meridian.all,   :id,  :name_with_id, :include_blank=>true) %></td><tr>
  <tr bgcolor="cccccc"><td><b><%= f.label :comments,  		"Comments"      %></b></td><td>   <b><b><b><%=f.text_field :comments          %></td><tr>
  </tbody>
</table>


    <hr size="2" noshade color="Grey" width="300" align="left">

<div class="actions">
  <%= f.submit %>
</div>

<% end %>

