<p id="notice"><%= notice %></p>

<p>
  <strong>Appschool name:</strong>
  <%= @school.appschool_name %>
</p>

<p>
  <strong>School gid:</strong>
  <%= @school.school_gid %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @school.comments %>
</p>

<p>
  <strong>School address:</strong>
  <%= @school.school_address %>
</p>

<p>
  <strong>School url:</strong>
  <%= @school.school_url %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @school.comments %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
