<%= form_for(@sec_list) do |f| %>
  <% if @sec_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sec_list.errors.count, "error") %> prohibited this sec_list from being saved:</h2>

      <ul>
      <% @sec_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :.ideanumber %><br>
    <%= f.number_field :.ideanumber %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
